.@{calendar-prefix-class} {
  position: relative;
  outline: none;
  width: 253px;
  border: 1px solid #ccc;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 1px 5px #ccc;
  background-clip: padding-box;
  border: 1px solid #ccc;
  line-height: 1.5;

  &-week-number {
    width: 286px;

    &-cell {
      text-align: center;
    }
  }

  &-header {
    padding: 0 10px;
    height: 34px;
    line-height: 30px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #ccc;

    > a {
      font-weight: bold;
      display: inline-block;
      padding: 0px 5px;
      line-height: 34px;
      text-align: center;
      width: 30px;

      &:hover {
        cursor: pointer;
        background-color: #f2f2f2;
      }
    }

    .@{calendar-prefix-class}-prev-month-btn {
      position: absolute;
      left: 25px;
    }

    .@{calendar-prefix-class}-next-month-btn {
      position: absolute;
      right: 25px;
    }
  }

  &-year-select, &-month-select {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    padding: 0 8px;
    line-height: 34px;

    &:hover {
      cursor: pointer;
      background-color: #f2f2f2;
    }
  }

  &-prev-month-btn,
  &-next-month-btn,
  &-prev-year-btn,
  &-next-year-btn {
    position: absolute;
    top: 0;
  }

  &-next-year-btn {
    right: 0;
  }

  &-prev-year-btn {
    left: 0;
  }

  &-calendar-body {
    padding: 2px;
  }

  table {
    border-collapse: collapse;
    max-width: 100%;
    background-color: transparent;
    width: 100%;
  }

  table, td, th, td {
    border: none;
  }

  &-calendar-table {
    border-spacing: 0;
    margin-bottom: 0;
  }

  &-column-header {
    line-height: 18px;
    padding: 6px 0;
    width: 33px;
    text-align: center;
    .@{calendar-prefix-class}-column-header-inner {
      display: block;
      font-weight: normal;
    }
  }

  &-week-number-header {
    .@{calendar-prefix-class}-column-header-inner {
      display: none;
    }
  }

  &-cell {
    padding: 1px 0;
  }

  &-date {
    display: block;
    margin: 0 auto;
    color: #666;
    width: 26px;
    height: 26px;
    padding: 0;
    background: transparent;
    line-height: 26px;
    text-align: center;

    &:hover {
      background: #f2f2f2;
      cursor: pointer;
    }
  }

  &-selected-day &-date {
    background: @color-blue-dark;
    color: #fff;

    &:hover {
      background: @color-blue-dark;
    }
  }

  &-today &-date {
    border: 1px solid @color-blue-dark;
  }

  &-disabled-cell &-date {
    cursor: not-allowed;
    color: #bcbcbc;
    background: #f3f3f3;
    width: auto;

    &:hover {
      background: #f3f3f3;
    }
  }

  &-last-month-cell &-date, &-next-month-btn-day &-date {
    color: #bbb;
  }

  &-footer {
    border-top: 1px solid #ccc;
    padding: 2px 0;
    text-align: center;
  }

  &-footer-btn {
    margin-top: 2px;
  }

  &-today-btn, &-clear-btn, &-ok-btn {
    display: inline-block;
    padding: 4px 5px;
    text-align: center;
    color: #f46830;

    &:hover {
      cursor: pointer;
      background-color: #f2f2f2;
    }

    &-disabled {
      color: #bbb;
      &:hover {
        color: #bbb;
      }
    }
  }

  &-today-btn {
    padding-left: 10px;
  }
}
