.@{calendar-prefix-class}-picker .@{calendar-prefix-class}, .@{calendar-prefix-class}-picker-container .@{calendar-prefix-class} {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 1000;
}

.@{calendar-prefix-class}-picker {
  position: relative;
}
