.@{calendar-prefix-class}-picker {
  > input {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  > .kuma-icon {
    position: absolute;
    right: 8px;
    top: 1px;
  }
}
