// compatible with kuma 3.0.4

@import "../variables.less";

@svg-path: "../svg";

@brand-primary: @blue-dark;
@checkbox-theme: blue;

.uxcore {
    box-sizing: border-box;
    * {
        box-sizing: inherit;
    }
}
.uxcore {
    @import "../component.less";
    @import "../button.less";
}
