@import "../variables.less";

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1449456673_5293095.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1449456673_5293095.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1449456673_5293095.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1449456673_5293095.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1449456673_5293095.svg#iconfont') format('svg'); /* iOS 4.1- */
}


@svg-path: "../svg";

@gray-dark: #ddd;

@brand-primary: #24a0e3;
@brand-secondary: #2a3f59;
@brand-other: #ffa200;
@btn-primary-hover: @brand-secondary;
@btn-primary-border-color: @brand-primary;
@btn-primary-border-hover: #2a3f59;
@btn-secondary-color: #f0f0f0;
@btn-secondary-border-color: #ddd;
@btn-secondary-hover: #f8f8f8;
@btn-secondary-border-hover: #ddd;
@btn-secondary-text-color: @brand-secondary;
@btn-secondary-text-hover: @brand-secondary;

@link-color: @brand-primary;
@link-hover-color: @brand-other;
@input-radius: 3px;
@label-padding-right: 10px;

@tab-color: #999;
@tab-height-lg: 40px;
@tab-border-color: #f0f0f0;
@tab-item-height-lg: 40px;
@tab-item-fix-height-lg: 39px;
@tab-font-size-lg: 16px;
@tab-hover-color: @brand-other;
@tab-lg-underline-bottom-border-width: 4px;

@tab-padding-underline-lg: 0;
@tab-margin-underline-lg: 30px;
@tab-font-weight-active: 700;

@transfer-item-selected-bg: @brand-other;

@table-border: #eee;
@table-header-bg: #e5e5e5;
@table-header-scroll-bg: #eee;
@table-body-bg: #fff;

@checkbox-theme: payroll;

@arrow-font-family         : 'iconfont';
@arrow-down-content        : '\e600';
@arrow-up-content 		   : '\e603';

@arrow-right-content: '\e605';
@crumb-font-family: 'iconfont';
@crumb-current-color: #333;
@crumb-current-weight: 700;

@progress-icon-font-family: 'iconfont';
@progress-icon-caution-content: '\e602';
@progress-icon-success-content: '\e601';

@select-open-border-color: #ccc;

@import "../base.less";
