.kuma-unsupported-browser {
  padding: 8px 0;
  width: 100%;
  color: #8f8f8f;
  border-bottom: 1px solid #b3a569;
  background-color: #fae692;
}
.kuma-unsupported-browser .wrapper {
  clear: both;
  margin: 0 auto;
  width: 1000px;
  zoom: 1;
  background-color: #fae692;
}
.kuma-unsupported-browser .container {
  position: relative;
  padding-left: 48px;
  width: 952px;
  height: 60px;
  background: url("https://s.tbcdn.cn/g/platform/nw/1.2.19/img/base/ie-notice.png") no-repeat 0 0;
}
.kuma-top-header {
  margin-bottom: 8px;
  height: 50px;
  color: white;
  background: white;
  -webkit-box-shadow: 0 4px 4px #eaeaea;
  -moz-box-shadow: 0 4px 4px #eaeaea;
  box-shadow: 0 4px 4px #eaeaea;
  border-bottom: 1px solid #ccc\0;
}
.kuma-top-header .logo-box {
  display: inline-block;
  padding: 5px 0 5px 0;
  width: 126px;
  height: 24px;
  background-size: 100%;
}
.kuma-top-header .logo-box:first-child {
  display: inline-block;
  margin-top: 7px;
  padding: 0;
  width: 129px;
  height: 30px;
}
.kuma-top-header .sub-title {
  padding: 12px 0 0 10px;
  width: auto;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #999;
}
.kuma-top-header .sub-title a,
.kuma-top-header .sub-title nobr {
  position: relative;
  top: -4px;
  color: #999;
}
.kuma-top-header .sub-title nobr {
  margin: 0 3px;
}
.kuma-top-header .sub-title a:hover {
  text-decoration: none;
  color: #444;
}
.kuma-top-header .sub-title s {
  display: inline-block;
  margin: 0 5px;
  width: 0;
  height: 21px;
  line-height: 0;
  font-weight: normal;
  border-left: 1px solid #eee;
}
.kuma-top-header .top-navigator {
  margin: 10px 10px 0 0;
}
.kuma-top-header .top-navigator ul.nav-space {
  margin-left: 0;
  list-style: none;
}
.kuma-top-header .top-navigator ul.nav-space > li {
  display: inline-block;
  padding: 0 10px;
}
.kuma-top-header .top-navigator ul.nav-space > li a {
  height: 28px;
  line-height: 28px;
  font-size: 14px;
}
.kuma-top-header .top-navigator ul.nav-space > li a.active {
  font-weight: bold;
  color: #f60;
}
.kuma-top-header .top-navigator .extra-space {
  margin-left: 20px;
  margin-top: -1px;
}
.kuma-top-header .top-navigator .extra-space .switch-language {
  display: inline-block;
  width: 56px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  color: #9a9a9a;
  border: 1px solid #ece8c8;
  background-color: #fdfece;
}
.kuma-top-header .top-navigator a {
  text-decoration: none;
  color: #999;
}
.kuma-top-header .top-navigator a:hover {
  color: #f60;
}
.kuma-errorpages {
  margin: 30px auto 100px;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #666;
  *zoom: 1;
}
.kuma-errorpages.no-width {
  padding: 0 10px 0;
}
.kuma-errorpages .kuma-errorpages-inner {
  margin: 0 auto;
  width: 1000px;
}
.kuma-errorpages:after,
.kuma-errorpages-inner:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.kuma-errorpages-img {
  float: left;
  width: 470px;
  height: 360px;
  border: 0 none;
  background-color: #edecea;
}
.kuma-errorpages-text {
  float: left;
  margin-top: 35px;
  margin-left: 60px;
  max-width: 400px;
}
.kuma-errorpages-text h1,
.kuma-errorpages-text h2 {
  margin: 0;
  font-family: "Hiragino Sans GB";
  font-size: 24px;
  font-weight: 400;
}
.kuma-errorpages-text h1.kuma-errorpages-text-t {
  margin: 0;
  font-family: arial;
  font-size: 80px;
  color: #f60;
}
.kuma-errorpages-text p {
  font: 14px/1.5 tahoma, arial;
}
.kuma-errorpages-text a {
  color: #288df0;
  text-decoration: none;
}
.kuma-errorpages-text .kuma-errorpages-text-goto {
  margin-top: 10px;
}
.kuma-qapages .qa-question {
  font-size: 14px;
}
.kuma-qapages .qa-question .q {
  width: 60px;
  height: 60px;
  background: url(http://g02.s.alicdn.com/tps/i2/TB1o4MjHVXXXXaEXFXXCY1g_pXX-106-83.png);
  display: inline-block;
  vertical-align: middle;
}
.kuma-qapages .qa-answer {
  font-size: 12px;
  margin-bottom: 40px;
}
.kuma-qapages .qa-answer .qa-answer-left {
  display: inline-block;
  width: 60px;
  text-align: right;
  color: #78b6e4;
  font-size: 14px;
}
.kuma-qapages .qa-answer .qa-answer-right {
  line-height: 20px;
  display: inline-block;
}
.kuma-back-totop {
  position: fixed;
  width: 42px;
}
.kuma-back-totop .btn {
  clear: both;
  display: block;
  float: left;
  cursor: pointer;
  margin-bottom: 2px;
  width: 60px;
  height: 46px;
  line-height: 20px;
  text-align: center;
  background: url(https://aliwork.alicdn.com/tps/i2/TB1zGmgHXXXXXbbaXXXwt209XXX-130-202.png) no-repeat 0 0;
}
.kuma-back-totop .btn.gotop {
  display: inline;
  text-indent: -9999px;
  background-position: 0 0;
}
.kuma-back-totop .btn.gotop:hover {
  background-position: -70px 0;
}
.kuma-back-totop .btn.mobile {
  position: relative;
  background-position: 0 -52px;
}
.kuma-back-totop .btn.mobile .barcode {
  width: 128px;
  height: 172px;
  display: none;
  position: absolute;
  left: -135px;
  top: -95px;
  background: url(https://aliwork.alicdn.com/tps/i3/TB1dvTmHXXXXXc6XFXXOXVB9VXX-128-172.png) 0 0 no-repeat;
}
.kuma-back-totop .btn.mobile .barcode img {
  display: block;
  margin: 29px 13px 13px 13px;
}
.kuma-back-totop .btn.mobile:hover {
  background-position: -70px -52px;
}
.kuma-back-totop .btn.mobile:hover .barcode {
  display: block;
}
.kuma-back-totop .btn.pc {
  background-position: 0 -104px;
}
.kuma-back-totop .btn.pc:hover {
  background-position: -70px -104px;
}
.kuma-back-totop .btn.feedback {
  background-position: 0 -156px;
}
.kuma-back-totop .btn.feedback:hover {
  background-position: -70px -156px;
}
