/**
 * EmployeeSearch Component Style for uxcore
 * @author eternalsky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

 .kuma-employee-search {
    width: 330px;
 }

 .kuma-employee-search-dropdown {
    .option-img {
        height: 30px;
        width: 30px;
        margin-right: 5px;
        border-radius: 4px;
    }
    .option-content {
        vertical-align: middle;
    }
 }