@import "../src/kuma-base/variable.less";

#main {
	display: flex;
}
.category-block {
	margin-bottom: 12px;
	padding: 5px;
	.category-name {
		margin-bottom: 12px;
		padding-left: 12px;
		font-size: 18px;
		line-height: 1.5;
		font-weight: 700;
		border-left: 2px solid #f80;
	}
	> pre {
		margin-bottom: 8px;
		padding: 8px;
        height: 200px;
        overflow-y: auto;
		border: 1px solid @border-normal;
	}
	.demo-block {
		position: relative;
		padding: 24px 8px 8px;
		border: 1px solid @border-normal;
		&:before {
			content: 'demo';
			position: absolute;
			left: -1px;
			top: -1px;
			padding: 0 2px;
			background-color: #efefef;
			border: 1px solid @border-normal;
		}
	}
}
