//==== 基于variables>form.less
//=====**** 筛选条件形式
.kuma-filter-condition {
    font-size: @font-size-small;
    li {
        float: left;
        a {
            display: inline-block;
            padding: 0 6px 0 10px;
            height: @filter-condition-lh;
            line-height: @filter-condition-lh;
            white-space: nowrap;
            text-decoration: none;
            color: @black;
        }
        .kuma-arrow {
            font-size: 18px;
            vertical-align: middle;
        }
    }
}

//====**** 筛选样式--可删除及可选中
.kuma-tag-removeable,
.kuma-tag-pickable {
    font-size: @font-size-small;
    color: @black;
}

//可删除类型
.kuma-tag-removeable {
    .kuma-tag {
        display: inline-block;
        float: left;
        margin: 0 5px 5px 0;
        padding: 0 8px 0 10px;
        height: 28px;
        line-height: 28px;
        background-color: @gray-light;
        border-radius: 2px;

        .kuma-icon-close {
            margin-left: 7px;
            cursor: pointer;
            color: @filter-removeable-close-color;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                color: @black;
            }
        }
    }
}

//清空提示
.kuma-tag-removeable, .kuma-tag-pickable {
    .kuma-tag-clear {
        float: left;
        height: 28px;
        margin-left: 10px;
        line-height: 28px;
        a {
            text-decoration: none;
        }
    }
}

//==== 可选中筛选条件
.kuma-tag-pickable .kuma-tag {
    float: left;
    margin: 0 5px 5px 0;

    a {
        display: inline-block;
        position: relative;
        height: 26px;
        padding: 0 10px;
        border: solid 1px @filter-pickable-tag-border;
        border-radius: 2px;
        line-height: 26px;
        text-decoration: none;
        color: @black;
        &:hover {
            background-color: @gray-light;
        }
    }
    .kuma-checkmarkbg { //right bottom arrow
        display: none;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px;
        border-color: transparent @blue-dark @blue-dark transparent;
    }
    .kuma-checkmark {
        display: none;
        position: absolute;
        right: -4px;
        bottom: -10px;
        cursor: pointer;
        color: #fff;
    }
    &.picked {
        a {
            border: solid 1px @blue-dark;
        }
        .kuma-checkmarkbg, .kuma-checkmark {
            display: block;
        }
    }
}

.kuma-filter {
    margin-bottom: 10px;
}

.kuma-filter-title {
    padding-right: 15px;
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
    font-size: @font-size-small;
    color: @black;
}
