//
// Variables
// --------------------------------------------------
@import "variables/colors.less";

// brand colors
@brand-primary             : @orange-light;
@brand-success             : hsl(97, 80%, 65%);
@brand-info                : hsl(199, 80%, 65%);
@brand-warning             : hsl(25, 100%, 65%);
@brand-danger              : hsl(7, 80%, 65%);
@brand-secondary           : @orange-light;

@body-bg                   : @white;
@border-base			   : #e8e8e8;
@text-color				   : @black-dark;
@link-color				   : @blue-dark;
@link-hover-color		   : @orange-dark;
// 表单元素通用border色
@form-element-border       : @gray-dark;
// checkbox主题文件夹名称
@checkbox-theme            : orange;
@svg-path                  : "./svg";

// arrow up & down for kuma iconfont
@arrow-down-content        : '\e614';
@arrow-up-content 		   : '\e613';
@arrow-font-family         : 'kuma';

@calendar-open-input-border: @brand-primary;

//Typography
@import "variables/typography.less";

//== Components

//== Grid
@import "variables/grid";

//== Buttons
@import "variables/button";

//== Forms
@import "variables/form";

//== tips
@import "variables/tip";

//== Panels
@import "variables/panel";

//== Calendar
@import "variables/calendar";

//== Pagination
@import "variables/pagination";

//== Tabs
@import "variables/tabs";

//== Transfer
@import "variables/transfer";

//== Steps
@import "variables/steps";

//== Table
@import "variables/table";

//== Crumb
@import "variables/crumb";

//== Progress
@import "variables/progress";

//== Select
@import "variables/select";